html, body {
    margin: 0;
    padding: 0;
    background: #f69898;
}

body {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 990px;
    margin: 0 auto;
}

.container {
    width: calc(50% - 10px);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 400px;
    border: 1px solid #d38080;
    margin: 4px;
    flex-direction: column;
}

.box {
    width: 120px;
    height: 120px;
    background: beige;
}

.mini-boxes {
    display: flex;
    flex-wrap: wrap;
    width: 50%;
}

.hole {
    width: 30px;
    height: 30px;
    background: beige;
    border-radius: 100%;
    margin: 8px;
}
.box.perspective-square {
     transform: rotate(46deg) rotate3d(0, -7, -2, 27deg);
     border-radius: 16px;
     box-shadow: 1px 2px 10px;
     animation: up-down 5s infinite;
     /* nome + tempo + infinito */

}



@keyframes up-down {
    from {
        transform: rotate(46deg) rotate3d(0, -7, -2, 27deg) translate(0px);
    }
    to {
        transform: rotate(46deg) rotate3d(0, -7, -2, 27deg) translateY(100px);
    }
}

.box.z-squares {
    transform: skewX(20deg);
    box-shadow: 1px 2px 10px;
    animation: rotatex 2s infinite;
} 

@keyframes rotatex {
    from {
        transform: skewX(0deg);
    }
    to {
        transform: skewX(20deg);
    }
}   

.box.rotate-square {
    animation: rodar 2s infinite;

}

@keyframes rodar {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
} 

.mini__boxes__a .hole:nth-child(odd) {
    background:   #cc33cc;
}

.mini__boxes__b .hole:nth-child(4) {
    background: #cc33cc ;
}
.mini__boxes__c .hole:nth-child(-n+5) {
    background: #cc33cc ;
}
.mini__boxes__d .hole:nth-last-child(1) {
    background: #cc33cc ;
}
