html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Graphik,-apple-system,system-ui,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Fira Sans","Droid Sans","Helvetica Neue",sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.buttons__wrapper {
    width: 500px;
    margin: 16px auto;
}

.d-flex {
    display: flex;
    gap: 12px;
}

.btn {
    background: grey;
    color: white;
   border: 0;
   padding: 8px 12px;
}

.btn-small{
    
    
  
   padding: 4px 8px;
}
.btn-outline {
    
   padding: 8px 12px;
}
.btn-primary {
    background-color: blue;
    
    padding: 8px 12px;
 }
 .btn-secondary {
    background-color: green;
    
    padding: 8px 12px;
 }
 .btn-tertiary {
    background-color:orange;
    
    padding: 8px 12px;
 }
 .btn-quaternary {
    background-color:red;
    
    padding: 8px 12px;
 }
 
 .btn-outline-primary {
     color: grey;
     background-color: white;
     border: 2px solid grey;
     border-radius: 4px;
}
.btn-outline-secondary {
    color: blue;
     background-color: white;
     border: 2px solid blue;
     border-radius: 4px;
}
.btn-outline-tertiary {
    color: green;
     background-color: white;
     border: 2px solid green;
     border-radius: 4px;
}
 .btn-outline-quaternary {
    color: orange;
     background-color: white;
     border: 2px solid orange;
     border-radius: 4px;
}
.btn-outline-quinary {
    color: red;
     background-color: white;
     border: 2px solid red;
     border-radius: 4px;
}