@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
  color: gainsboro;
}

a:hover {
  cursor: pointer;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  width: 100%;
  font-family: 'Inter', sans-serif;
}

.nav {
  width: 100%;
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 17px;
  height: 64px;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 99;
  background: #FFFFFF;
}

.nav__left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 16px;
  margin-left: 16px;
}

.nav__left__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  gap: 16px;
  margin-left: 90px;
}

.nav__left__menu a {
  color: #000000;
}

.nav__rigth {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-right: 16px;
  gap: 8px;
}

.nav__rigth .btn-type1 {
  background: none;
  border: none;
  height: 33px;
  width: 77px;
  font-size: 14px;
  cursor: pointer;
}

.nav__rigth .btn-type1:hover {
  background: #000000;
  color: #FFFFFF;
}

.nav__rigth .btn-type1-active {
  background: none;
  border: none;
  height: 33px;
  width: 77px;
  font-size: 14px;
  background: #000000;
  color: #FFFFFF;
  cursor: pointer;
}

.section__fist {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.section__fist .section__fist__header {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section__fist .section__fist__header h1 {
  font-size: 64px;
  padding: 24px;
  color: #000000;
}

.section__fist .section__fist__header p {
  font-size: 24px;
  color: #000000;
  margin: auto;
  margin-top: 24px;
}

.section__fist .section__fist__main {
  margin-top: 24px;
}

.section__fist .section__fist__main .btn-type2 {
  background: none;
  border: none;
  height: 33px;
  width: 126px;
  font-size: 14px;
  background: #0064DA;
  color: #FFFFFF;
  cursor: pointer;
}

.section__fist .btn-type1 {
  background: none;
  border: none;
  height: 33px;
  width: 108px;
  font-size: 14px;
  background: #000000;
  color: #FFFFFF;
  cursor: pointer;
}

.section__fist .btn-type1:hover {
  background: #000000;
  color: #FFFFFF;
}

.section__fist .video {
  margin-top: 46px;
  width: 460px;
}

.section__fist .section__fist__footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section__fist .section__fist__footer .btn-type3 {
  background: none;
  border: none;
  height: 33px;
  width: 112px;
  font-size: 14px;
  background: #0064DA;
  color: #FFFFFF;
  border-radius: 32px;
  margin-top: -15px;
  cursor: pointer;
}

.section__second {
  background: #f5f5f5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  margin-top: 172px;
}

.section__second .section__second__header .section__second-line {
  background: #B8B8B8;
  height: 100px;
  width: 2px;
  margin-left: 50%;
  margin-top: -40px;
}

.section__second .section__second__header h3 {
  font-size: 40px;
  padding: 24px;
  color: #000000;
  margin-top: 64px;
}

.section__second .section__second__header .section__explore__subtitle {
  margin-top: 24px;
  font-size: 20px;
}

.section__second .section__second__footer img {
  width: 632px;
  margin-top: 25px;
  margin-bottom: 26px;
}

.section__explore {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.section__explore .title__explore {
  font-size: 40px;
  margin-top: 40px;
}

.section__explore .section__explore__subtitle {
  font-size: 20px;
  margin-top: 24px;
}

.section__explore .section__explore__cards {
  margin-top: 24px;
}

.section__explore .section__explore__cards .cards__container {
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 40px;
  width: 60%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.section__explore .section__explore__cards .cards__container .card {
  padding: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 14px;
  border-radius: 4px;
  background: #FFFFFF;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 1px solid;
  width: 169px;
}

.section__explore .section__explore__cards .cards__container .card:hover {
  background: #0064DA;
  color: #FFFFFF;
}

.section__explore .section__explore__cards .cards__container .card:hover .card__img__align .card__img {
  background: #FFFFFF;
}

.section__explore .section__explore__cards .cards__container .card .card__img__align {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.section__explore .section__explore__cards .cards__container .card .card__img__align .card__img {
  height: 44px;
  width: 44px;
  border-radius: 100%;
  background: #0064DA;
}

.section__explore .section__explore__cards .cards__container .card .card_span {
  font-size: 14px;
}

.section__explore .section__explore__cards .cards__container .card .card__paragraph {
  font-size: 10px;
}

.section__explore .section__explore__cards .cards__container__background {
  background: #f5f5f5;
  width: 100%;
  height: 360px;
  margin-top: -320px;
  z-index: 0;
}

.section__fourth {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section__fourth .section__fourth__title {
  font-size: 30px;
  margin-top: 85px;
}

.section__fourth .section__fourth_nav {
  margin-top: 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 12px;
}

.section__fourth .section__fourth_nav .btn-nav-active {
  background: none;
  border: none;
  height: 20px;
  width: 79px;
  font-size: 10px;
  background: #0064DA;
  color: #FFFFFF;
  border-radius: 19px;
  cursor: pointer;
}

.section__fourth .section__fourth_nav .btn-nav {
  background: none;
  border: 1px solid #000000;
  height: 20px;
  width: 79px;
  font-size: 10px;
  background: #FFFFFF;
  color: #000000;
  border-radius: 19px;
  cursor: pointer;
}

.section__fourth .container__square {
  margin-top: 47px;
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 20px;
}

.section__fourth .container__square .square {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-radius: 2px;
  background: #FFFFFF;
  gap: 8px;
  width: 219px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  overflow: hidden;
}

.section__fourth .container__square .square .square__img {
  background: #B8B8B8;
  width: 219px;
  height: 121px;
  border-radius: 2px 2px 0px 0px;
}

.section__fourth .container__square .square .square__btn__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
}

.section__fourth .container__square .square .square__btn__title .btn__square {
  background: none;
  border: 1px solid #f5f5f5;
  height: 18px;
  width: 66px;
  font-size: 8px;
  background: #FFFFFF;
  color: #000000;
  border-radius: 19px;
  cursor: pointer;
}

.section__fourth .container__square .square .square__btn__title .btn__square-active {
  background: none;
  border: none;
  height: 18px;
  width: 66px;
  font-size: 8px;
  background: #0064DA;
  color: #FFFFFF;
  border-radius: 19px;
  cursor: pointer;
}

.section__fourth .container__square .square .square__span {
  font-size: 10px;
}

.section__fourth .container__square .square .square__footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 8px;
}

.section__fourth .container__square .square .square__footer .square__img__footer {
  width: 20px;
  height: 20px;
  border-radius: 100%;
  background: #B8B8B8;
}

.section__fourth .container__square .square .square__footer .square__img__text {
  font-size: 8px;
}

.section__blue {
  margin-top: 64px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section__blue .section__blue__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 32px;
  background: #0064DA;
  width: 1200px;
  height: 202px;
}

.section__blue .section__blue__container .section__blue__span {
  font-size: 30px;
  color: #FFFFFF;
}

.section__blue .section__blue__container .section__blue__btn {
  background: none;
  border: none;
  height: 17px;
  width: 76px;
  font-size: 10px;
  background: #FFFFFF;
  color: #0064DA;
  cursor: pointer;
}

.section__footer {
  margin-top: 91px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 36px;
  font-size: 14px;
}

.section__footer .section__footer__left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 8px;
}

.section__footer .section__footer__left .section__footer__input .footer__input {
  height: 33px;
}

.section__footer .section__footer__left .section__footer__input .btn-input {
  border: none;
  height: 33px;
  width: 99px;
  font-size: 14px;
  background: #000000;
  color: #FFFFFF;
  cursor: pointer;
}

.section__footer .middle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 100px;
}

.section__footer .middle .middle__left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 8px;
}

.section__footer .middle .middle__left .middle__left__column:nth-child(1) {
  margin-bottom: 24px;
}

.section__footer .middle .middle__rigth {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 8px;
}

.section__footer .middle .middle__rigth .middle__rigth__column:nth-child(1) {
  margin-bottom: 24px;
}

@media screen and (max-width: 768px) {
  .nav .nav__left__menu {
    display: none;
  }
  .section__explore .section__explore__cards .cards__container__background {
    background: #f5f5f5;
    width: 100%;
    height: 608px;
    margin-top: -573px;
    z-index: 0;
  }
  .section__fourth .section__fourth__title {
    text-align: center;
  }
  .section__fourth .container__square {
    margin-top: 47px;
    width: 80%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 20px;
  }
  .section__footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 30px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .section__footer .section__footer__left__title {
    text-align: center;
    font-weight: bold;
  }
  .section__footer .middle__left__column:nth-child(1) {
    font-weight: bold;
  }
  .section__footer .middle__rigth__column:nth-child(1) {
    font-weight: bold;
  }
}
/*# sourceMappingURL=styles.css.map */